{% extends "base.html.twig" %}

{% block title %} Bienvenue dand le template hierarchy{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<h1>mon block body</h1>



{% endblock %}